.oc-tab-control {
	height: 30%;
}

.oc-tab-list {
	transition-duration: 0.8;
}

.default-scroll-bar,
.default-list-wrapper {
	height: 70% !important;
}

.default-scroll-bar {
	top: auto !important;
	bottom: 0;
}
